In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('data/adult22.csv')

In [25]:
survey = df[['SRVY_YR','INTV_MON','HHX','URBRRL','REGION','SEX_A','AGEP_A','EDUCP_A',
    'PCNTLT18TC','PCNT18UPTC','PHSTAT_A','LSATIS4_A','RATCAT_A',
    'DENPREV_A','DENDL12M_A','DENNG12M_A']]

In [26]:
survey.to_csv('data/survey22.csv',index=False)

In [27]:
pd.read_csv('data/survey22.csv')

,SRVY_YR,INTV_MON,HHX,URBRRL,REGION,SEX_A,AGEP_A,EDUCP_A,PCNTLT18TC,PCNT18UPTC,PHSTAT_A,LSATIS4_A,RATCAT_A,DENPREV_A,DENDL12M_A,DENNG12M_A
0,2022,1,H059086,2,3,1,85,4,0,1,2,2,7,4,2,2
1,2022,1,H054049,4,3,1,64,8,0,2,3,2,14,1,2,2
2,2022,1,H055201,4,3,2,37,8,0,2,3,1,14,1,2,2
3,2022,1,H044893,4,3,2,72,5,0,2,2,1,11,3,2,2
4,2022,1,H043149,1,3,2,84,6,0,1,2,2,2,6,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27646,2022,12,H015345,4,4,1,64,4,0,1,3,2,11,2,2,2
27647,2022,12,H061055,4,4,2,67,8,0,2,2,2,10,1,2,2
27648,2022,12,H031575,4,4,2,69,7,0,2,1,1,13,1,2,2
27649,2022,12,H015667,4,4,1,30,7,2,2,2,1,8,1,2,2
27650,2022,12,H067367,4,4,1,51,9,2,2,2,1,12,1,2,2